.centerx {
  display: flex;
  justify-content: center;
}

.centery {
  display: flex;
  align-items: center
}

.centerxy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.end {
  justify-content: flex-end;
}

.router-link:link {
  color: black;
}

.router-link:visited {
  color: black;
}

.router-link:hover {
  color: black;
}

.router-link:active {
  color: black;
}