.centerx {
  display: flex;
  justify-content: center;
}

.centery {
  display: flex;
  align-items: center
}

.centerxy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.end {
  justify-content: flex-end;
}