@font-face {
  font-family: "iconfont";
  src:
    url('iconfont.woff?t=1572834733263') format('woff'),
    url('iconfont.svg?t=1572834733263#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenhao:before {
  content: "\e63c";
}